<div class="page_content_holder">
	<h1>Data</h1><br/>
	
	<%= link_to "Add aphorism", :action => "add_aphorism" %><br/>
	<%= link_to "Recalculate link grades", :action => "recalculate_link_grades" %><br/>
	<%= link_to "Generate user recommendations", :action => "generate_user_recommendations" %><br/>
	<br/>
	<%= link_to "Sequence searches", :action => "sequence_searches" %><br/>
	<br/>
	<%= link_to "Scrape last.fm", :action => "scrape_lastfm" %><br/>
</div><br/>