<mp3config>

    <!-- choose here if you want the mp3player to automatically start and shuffle songs (true or false) -->    
    <autostart>false</autostart>
    <shuffle>false</shuffle>

    <!-- choose the mp3player repeat mode (none, one, all or list (plays the entire playlist once)) -->   
    <repeat>none</repeat>
    
    <!-- choose the mp3player volume (0 to 100) -->  
    <volume>100</volume>
    
    <!-- choose here if you want to show the display and playlist (true or false) -->   
    <showdisplay>true</showdisplay>
    <showplaylist>true</showplaylist>
    
    
    <!-- choose here in what frame you want links to be opened  (_blank, _self, _top or a framename) --> 
    <linktarget>_top</linktarget>
        
    <!-- choose the mp3player colors (hexadecimal, from 0x000000 to 0xffffff) -->  
    <backcolor>0xffffff</backcolor>
    <frontcolor>0x000000</frontcolor>
    <lightcolor>0xffffff</lightcolor>

    <!-- you can set a JPG as the background here to skin the mp3player (url to the jpg file) --> 
    <jpgfile></jpgfile>
    
    	
    <!-- (for webmasters) URL of a script, called on start and completion of a song --> 
    <!-- the following vars are sent with POST: playlist, title, file, identifier, action ('start' or 'complete') --> 
    <callback></callback>	
    
        
</mp3config>