<br/>
<div class="bottom_nav">
	<%= link_to "about", :controller => "home", :action => "about" %> &nbsp;&nbsp;
	<%= link_to "blog", :controller => "blog" %> &nbsp;&nbsp;
	<%= link_to "lab", :controller => "lab" %> &nbsp;&nbsp;
	<%= link_to "api", :controller => "home", :action => 'api' %>
</div><br/>