<table class="news_holder"><tr><td class="news_content">
	<div class="news_newest">
		New: <%= link_to "let my playlists go", :controller => "blog", :action => "show", :id => 21 %>.
	</div>
	
	<div class="news_more">
		<a href='/new_features'>More new features</a>.</span>
	</div>
</td></tr></table>