<div class="page_content_holder">
	<h1>About</h1><br/>
	
	Send feedback to <a href='mailto:contact@theperceptron.com'>contact@theperceptron.com</a>.<br/><br/>
	
	The site's recommendations come from artists who admire each other,
	music critics, artists who feature on the same mp3 blog,
	lists of artists who are on the same label, artists who often appear on mixtapes together,
	people's music buying habits, user suggestions
	and lists of artists who have played shows together.
	Further, the site learns from your behaviour and skews recommendations towards your music taste.<br/><br/>
	
	Thank you <a href='http://epitonic.com'>Epitonic</a>,
	<a href='http://opentape.fm'>Opentape</a>, 
	<a href='http://seeqpod.com'>Seeqpod</a>, 
	<a href='http://myspace.com'>Myspace</a>,
	<a href='http://tinymixtapes.com'>Tiny Mix Tapes</a>,
	<a href='http://hypem.com'>The Hype Machine</a>,
	<a href='http://muxtape.com'>Muxtape</a>,
	<a href='http://muxtapestumbler.com'>Muxtape Stumbler</a>,
	<a href='http://last.fm'>last.fm</a>,
	<a href='http://emusic.com'>Emusic</a>,
	and <a href='http://wikipedia.org'>Wikipedia</a>.<br/><br/>
	
	Programmed by <a href='http://maryrosecook.com'>maryrosecook</a>.<br/><br/>
</div><br/>