<div class="page_content_holder">
	<h1>Contact</h1><br/>

	I really need your help to make the perceptron better.  Please send feedback or suggestions to 
	<a href='mailto:contact@theperceptron.com'>contact@theperceptron.com</a>
</div><br/>