<div class="page_content_holder">
	<h1>Liked artists</h1><br/>
	
	Nothing to see here.  Move along.<br/><br/>
	
	Now that you have the vastly superior 
	<a href='/recommendation/saved'>saved recommendations</a> page, it 
	doesn't really make sense to me to give you a list
	of the artists you have liked.  If you disagree, please
	<a href='/contact'>contact me</a>.
</div><br/>