<div class="page_content_holder">
	<h1>New features</h1><br/>

	* Lab for experimental stuff.
	<a href='http://theperceptron.com/blog/show/42'>More info</a>.<br/>

	* You, yes, you, may now suggest artists.
	<a href='http://theperceptron.com/blog/show/34'>More info</a>.<br/>

	* Listen to your playlist in your computer's mp3 player.
	<a href='http://theperceptron.com/blog/show/21'>More info</a>.<br/>

	* We note your behaviour to give you better recommendations.
	<a href='http://theperceptron.com/blog/show/20'>More info</a>.<br/>

	* Recommendations: even fucking better.
	<a href='http://theperceptron.com/blog/show/16'>More info</a>.<br/>

	* Add artists to your playlist, then listen away.
	<a href='http://theperceptron.com/blog/show/15'>More info</a>.<br/>
	
	* Get automatic recommendations from the automatron.
	<a href='http://theperceptron.com/blog/show/13'>More info</a>.<br/>
	
	* Recommendations are adjusted to your music taste.
	<a href='http://theperceptron.com/blog/show/12'>More info</a>.<br/>
</div><br/>