<!-- strips -->
<%= render(:partial => 'artist/controls') %>
<%= render(:partial => 'artist/elsewhere') %>
<% if @logged_in && current_user.admin?() %>
	<%= render(:partial => 'artist/admin') %>
<% end-%>

<!-- summary -->
<% summary = @artist.get_summary() %>
<% if summary != ""%>
	<%= summary %>.
<% else %>
	No summary.
<% end-%>

<!-- sources -->
<% if @recommending %>
	<%= render(:partial => 'recommendation/sources' ) %>
<% end-%>

<% if @recommending %>
	<br/>
<% end-%>