No recommendations for <strong><%= sanitize(@search.body) %></strong>.<br/><br/>
Think there should be? <a href='/contact'>Contact me</a> with details of the artist and the areas of music they reside in.