<div class="page_content_holder">
	<% form_tag :action => 'update', :id => @blog_post do %>
		<h1>Editing post <%= submit_tag 'Save', :class => "submit_button" %></h1><br/>
	
	  <%= render :partial => 'form' %>
	<% end %>
</div>