<html>
<head>
	<meta name="viewport" content="width=250, user-scalable=no">
</head>

<body>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'ip_form' %>
  <%= submit_tag "Save" %>
<% end %>

</body>
</html>