<div class="page_content_holder">
	<h1>Sign up</h1><br/>
	
	<% form_tag do -%>	
		<table class="signup_table" border=0>
			<%= render(:partial => 'signup_form') %>
			<tr>
				<td class="field_title"></td>
				<td class="field"><%= submit_tag "Sign up", :class => 'submit_button', :id => 'submit_button', :disable_with => "Signing up" %></td>
			</tr>
		</table>
	<% end-%>
</div><br/>