<div class="page_content_holder">
	<h1>Lab</h1><br/>
	
	A sheltered envinment for experimental stuff.<br/><br/>
	
	<%= link_to "Voxpomp", :action => "voxpomp" %> [Rewired State 2009]<br/>
	<%= link_to "Where To Live", :action => "where_to_live" %> [last.fm Hack Day 2008]<br/>
	<%= link_to "Site Statistics", :controller => "home", :action => "stats" %>
</div><br/>